## Prática com Pandas e Séries Cronológicas

In [2]:
import pandas as pd

A base a ser utilizada nesse exercício é a base "Summer-Olympic-medals-1976-to-2008.csv"

In [3]:
dados = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv', encoding='latin1', parse_dates=['Year'])

In [4]:
dados.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976-01-01,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

### 1. Construa um objeto de série cronológica com o índice igual ao ano dos jogos olímpicos.

In [5]:
dados.set_index('Year', inplace=True)
dados

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

### 2. Separar os nomes próprios de sobrenomes em duas colunas distintas, usando vírgula como separador

In [9]:
dados[['Sobrenome', 'Nome']] = dados['Athlete'].str.split(',', expand=True, n=1)
dados

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Sobrenome,Nome
Year,,,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

### 3. Obter medidas resumidas do conjunto de dados. Qual país ganhou mais medalhas?

In [16]:
medalhas_por_pais = dados.groupby('Country')['Medal'].count()
print(medalhas_por_pais.sort_values(ascending=False))
dados[['Country', 'Medal']].describe()

Country
United States           1992
Soviet Union            1021
Australia                798
Germany                  691
China                    679
                        ...
Sri Lanka                  1
Togo                       1
United Arab Emirates       1
Uruguay                    1
Virgin Islands*            1
Name: Medal, Length: 127, dtype: int64

              Country   Medal
count           15316   15316
unique            127       3
top     United States  Bronze
freq             1992    5258

### 4. Construir uma tabela mostrando quantas medalhas foram ganhas pelos homens no total em cada ano em que o evento foi realizado.

In [55]:
dados[dados['Gender']=='Men'].groupby(by='Year')['Medal'].count()

Year
1976-01-01     924
1980-01-01     958
1984-01-01     973
1988-01-01    1011
1992-01-01    1105
1996-01-01    1082
2000-01-01    1126
2004-01-01    1099
2008-01-01    1110
Name: Medal, dtype: int64